DECLARE @M CHAR(6);
SET @M='200805';

SELECT LEFT(CASE(D-1+(@@DATEFIRST+DATEPART(WEEKDAY,@M+'01')-2)%7)/7 WHEN 0 THEN DATENAME(MONTH, @M+'01') ELSE '' END,8) [Месяц],
 MAX(ISNULL(CASE WD WHEN 2 THEN STR(D)END,''))[Пн],
 MAX(ISNULL(CASE WD WHEN 3 THEN STR(D)END,''))[Вт],
 MAX(ISNULL(CASE WD WHEN 4 THEN STR(D)END,''))[Ср],
 MAX(ISNULL(CASE WD WHEN 5 THEN STR(D)END,''))[Чт],
 MAX(ISNULL(CASE WD WHEN 6 THEN STR(D)END,''))[Пт],
 MAX(ISNULL(CASE WD WHEN 0 THEN STR(D)END,''))[Сб],
 MAX(ISNULL(CASE WD WHEN 1 THEN STR(D)END,''))[Вс]
FROM
(
 SELECT number+1,(@@DATEFIRST+DATEPART(WEEKDAY, DATEADD(DAY,number,@M+'01')))%7
 FROM master.dbo.spt_values
 WHERE [type]='P' AND number<DATEDIFF(DAY,@M+'01', DATEADD(MONTH,1,@M+'01'))
) T(D,WD)
GROUP BY (D-1+(@@DATEFIRST+DATEPART(WEEKDAY,@M+'01')-2)%7)/7
ORDER BY (D-1+(@@DATEFIRST+DATEPART(WEEKDAY,@M+'01')-2)%7)/7;